#search {
    padding-bottom: 20px;
}

.top-sellers-header {
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

.top-sellers-dropdown {
    position: absolute;
    left: 300px;
    z-index: 99;
    padding-top: 10px;
}

.top-sellers-title {
    font-size: 2.3em;
}

.fa-sort-down,
.fa-list {
    color: white;
}

#dropdownMenuButton {
    font-size: 0.8em;
}

.categories {
    /* padding: 8px 13px 8px 13px; */
    width: 100%;
}

.menu {
    background-color: white;
}

li {
    cursor: pointer;
}

/* .book-grid {
    position: relative;
    top: 0
} */

@media only screen and (max-width: 700px) {
    .top-sellers-title {
        font-size: 1.4em;
        font-weight: bolder;
    }

    .top-sellers-dropdown {
        left: 200px;
    }

    .top-sellers-header {
        margin-left: 10px;
    }
}