.row {
    padding: 10px;
}

.inline {
    display: inline
}

.card {
    width: 200px;
    height: 100%;
}

.book-card {
    margin-bottom: 30px;
}

.card-title {
    text-align: left;
}

#image {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 200px;
}

button {
    border-radius: 5px;
    border: 0px;
}

/* .card-body {
    position: absolute;
} */

.card-body {
    position: absolute;
    bottom: 0;
}

.delete-button,
.save-button,
.view-button {
    width: 100%;
}

.buttons {
    padding: 3px;
}
