.menu {
    position: absolute;
    z-index: 99;
}


.header {
    position: absolute;
    width: 100%;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* .large-screen-nav {
    width: 100%;
} */

/* .search {
    align-items: right;
} */

/* .search-form {
    width: 250px;
    border: 1px solid red;
} */

.search {
    border: 2px solid blue
}

.header-title {
    font-size: 4em;
    width: 100%;
}

img {
    width: 100%;
}

.book-grid {
    background-color: rgb(240, 240, 240);
    padding-top: 20px;
}

/* .banner {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../images/book.jpg') no-repeat;
    width: 100%;
} */

.row {
    padding: 10px;
}

.book-card {
    /* margin: 0 auto; */
    margin-bottom: 30px;
    /* display: flex; */
    /* align-items: stretch; */
}

.results-title {
    font-size: 2.3em;
    width: 100%;
    text-align: left;
    margin-left: 30px;
    margin-top: 15px;
}

.google-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#image {
    width: 80%;
    height: 250px;
    margin: 0 auto;
    margin-top: 5%;
}

/* .image {
    height: 380px;
    /* border: 1px solid red;
} */

button {
    border-radius: 5px;
    border: 0px;
}

.delete-button,
.save-button {
    z-index: 99;
}

/* .buttons {
    position: absolute;
    bottom: 10px;
} */

.buy-button-col {
    width: 100%;
    text-align: right;
}

.buy {
    background-color: white;
    border-radius: 3px;
    color: #66FF00;
    border: 1px solid rgb(86, 214, 0);
    font-weight: bold;
    padding: 2px 6px 2px 6px;
    margin-right: 0px;
}

.buy:hover {
    border: 2px solid rgb(86, 214, 0)
}

/* .delete-button,
.save-button,
.view-button {
    width: 100%;
} */

.card {
    width: 220px;
    box-shadow: 0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.card:hover {
    box-shadow: 0  5px 10px rgba(21, 22, 26, 0.05),
    0 15px 40px rgba(15, 16, 19, 0.2);
}

.card-body {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    /* border: 1px solid black; */
    /* height: 60%; */
    /* margin-top: 250px; */
}

.top-card-body {
    position: absolute;
    width: 100%;
    margin-top: 280px;
    padding-left: 20px;
}

.top-image {
    height: 350px;
}

.title {
    font-weight: bold;
    font-size: .85em;
}

.authors {
    font-size: 0.8em;
}

.about {
    text-align: left;
}

.save-button {
    background-color: rgb(0, 110, 0);
    color: white;
    font-size: 0.8em;
}

.buttons {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 15px;
    z-index: 99;
}

.save-button:hover {
    background-color: rgb(0, 153, 0);
}

/* star rating */
.rating {
    text-align: left;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
   
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100;
  }
   
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }

a {
    color: black;
    text-decoration: none;
}

/* .top-sellers-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 20px;
} */

@media only screen and (max-width: 700px) {
    .navbar {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        min-height: 40px !important;
    }

    .banner {
        background: url('../images/croppedBook.jpg');
    }

    .card {
        width: 150px;
    }

    /* .image {
        height: 330px;
    } */

    #image {
        height: 200px;
    }

    .card-body {
        padding-top: 5px;
    }

    .top-image {
        height: 300px;
    }

    .top-card-body {
        margin-top: 220px;
        padding-left: 5px;
    }

    .results-title {
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 5px;
    }

    /* .card-body {
        margin-top: 150px;
    } */

    .buttons {
        right: 5px;
        bottom: 5px;
        font-size: 0.8em;
    }

    /* .delete-button,
    .save-button {
        font-size: 0.7em;
        right: 4px;
        bottom: 3px;
    } */

    .delete-button {
        background-color: rgba(151, 0, 0, 0.767)
    }

    /* .navbar-toggler,
    form {
        height: 30px;
        margin-top: 10px;
    } */
    
    .header {
        position: absolute;
        top: 40px;
    }

    .header-wrapper {
        position: relative;
    }
    
    .header-title {
        font-size: 1.7em;
        font-weight: bold;
    }

    h6 {
        font-size: 0.8em;
    }

    /* .top-sellers-title {
        font-size: 1.1em;
    } */

    /* .search-form {
        width: 80%;
    } */

    #title {
        width: 80%;
    }
}