.row {
    padding: 10px;
}

/* .inline {
    display: inline
} */

.book-card {
    margin-bottom: 30px;
    /* display: flex; */
    /* align-items: stretch; */
}

#image {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.image {
    height: 400px;
    /* border: 1px solid red; */
}

button {
    border-radius: 5px;
    border: 0px;
}

/* .buttons {
    position: absolute;
    bottom: 10px;
} */

.buy-button-col {
    width: 100%;
    text-align: right;
}

.buy {
    background-color: white;
    border-radius: 3px;
    color: #66FF00;
    border: 1px solid rgb(86, 214, 0);
    font-weight: bold;
    padding: 2px 6px 2px 6px;
    margin-right: 0px;
}

.buy:hover {
    border: 2px solid rgb(86, 214, 0)
}

/* .delete-button,
.save-button,
.view-button {
    width: 100%;
} */

.card {
    width: 220px;
    box-shadow: 0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.card:hover {
    box-shadow: 0  5px 10px rgba(21, 22, 26, 0.05),
    0 15px 40px rgba(15, 16, 19, 0.2);
}

.card-body {
    position: absolute;
    width: 100%;
    /* border: 1px solid black; */
    /* height: 60%; */
    margin-top: 290px;
}

.title {
    font-weight: bold;
    font-size: .85em;
}

.authors {
    font-size: 0.8em;
}

.about {
    text-align: left;
}

.save-button {
    background-color: rgb(0, 110, 0);
    color: white;
    font-size: 0.8em;
}

.buttons {
    text-align: right;
}

.save-button:hover {
    background-color: rgb(0, 153, 0);
}

/* star rating */
.rating {
    text-align: left;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
   
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100;
  }
   
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }